################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArabicTextNBC/bin/WebGrease.dll
/ArabicTextNBC/bin/System.Web.WebPages.xml
/ArabicTextNBC/bin/System.Web.WebPages.Razor.xml
/ArabicTextNBC/bin/System.Web.WebPages.Razor.dll
/ArabicTextNBC/bin/System.Web.WebPages.dll
/ArabicTextNBC/bin/System.Web.WebPages.Deployment.xml
/ArabicTextNBC/bin/System.Web.WebPages.Deployment.dll
/ArabicTextNBC/bin/System.Web.Razor.xml
/ArabicTextNBC/bin/System.Web.Razor.dll
/ArabicTextNBC/bin/System.Web.Optimization.xml
/ArabicTextNBC/bin/System.Web.Optimization.dll
/ArabicTextNBC/bin/System.Web.Mvc.xml
/ArabicTextNBC/bin/System.Web.Mvc.dll
/ArabicTextNBC/bin/System.Web.Helpers.xml
/ArabicTextNBC/bin/System.Web.Helpers.dll
/ArabicTextNBC/bin/SignalRChat.pdb
/ArabicTextNBC/bin/SignalRChat.dll.config
/ArabicTextNBC/bin/SignalRChat.dll
/ArabicTextNBC/bin/Owin.dll
/ArabicTextNBC/bin/Newtonsoft.Json.xml
/ArabicTextNBC/bin/Newtonsoft.Json.dll
/ArabicTextNBC/bin/Microsoft.Web.Infrastructure.dll
/ArabicTextNBC/bin/Microsoft.Owin.xml
/ArabicTextNBC/bin/Microsoft.Owin.Security.xml
/ArabicTextNBC/bin/Microsoft.Owin.Security.dll
/ArabicTextNBC/bin/Microsoft.Owin.Host.SystemWeb.xml
/ArabicTextNBC/bin/Microsoft.Owin.Host.SystemWeb.dll
/ArabicTextNBC/bin/Microsoft.Owin.dll
/ArabicTextNBC/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
/ArabicTextNBC/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
/ArabicTextNBC/bin/Microsoft.AspNet.SignalR.Core.xml
/ArabicTextNBC/bin/Microsoft.AspNet.SignalR.Core.dll
/ArabicTextNBC/bin/Antlr3.Runtime.pdb
/ArabicTextNBC/bin/Antlr3.Runtime.dll
/packages/WebGrease.1.5.2
/packages/Respond.1.2.0
/packages/Owin.1.0
/packages/Newtonsoft.Json.5.0.6
/packages/Modernizr.2.6.2
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.Owin.Security.2.0.2
/packages/Microsoft.Owin.Host.SystemWeb.2.0.2
/packages/Microsoft.Owin.2.0.2
/packages/Microsoft.AspNet.WebPages.3.0.0
/packages/Microsoft.AspNet.Web.Optimization.1.1.1
/packages/Microsoft.AspNet.SignalR.SystemWeb.2.0.3
/packages/Microsoft.AspNet.SignalR.JS.2.0.3
/packages/Microsoft.AspNet.SignalR.Core.2.0.3
/packages/Microsoft.AspNet.SignalR.2.0.3
/packages/Microsoft.AspNet.Razor.3.0.0
/packages/Microsoft.AspNet.Mvc.5.0.0
/packages/jQuery.1.10.2
/packages/bootstrap.3.0.0
/packages/Antlr.3.4.1.9004
